{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>overview page</title>
</head>
<body>
<h2>Welcome to Overview page</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Accusamus aliquam assumenda, beatae et illum nobis? Adipisci aperiam at delectus ducimus,
    facilis minima molestias, nemo non odio officia soluta, vitae voluptates.</span><span>A animi at atque corporis cum deleniti eveniet, in ipsam ipsum magnam modi, necessitatibus nisi praesentium quas quis rerum,
    tenetur voluptatum? At blanditiis cum dolorum ducimus illum pariatur sunt, voluptatem!</span></p>

<img src="{% static '/images/admin.jpg' %}" alt="">

</body>
</html>