{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services page</title>
</head>
<body>
<h2>Welcome to services page</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta fuga, maxime perferendis perspiciatis placeat vel.
    Aliquid beatae earum, id inventore necessitatibus obcaecati omnis perferendis possimus quam, repellat, voluptate voluptates!</span>
    <span>Earum eveniet facere, illo maxime nisi quia ratione similique soluta. Autem distinctio fugit maiores ullam voluptas? 
        Accusamus beatae, et facilis itaque nobis officia perferendis quis quod reiciendis reprehenderit sint velit!</span>
    <span>Ad adipisci architecto delectus dignissimos doloribus et, eveniet laborum magnam maiores molestiae
    nam nemo nostrum nulla odit perspiciatis possimus quod recusandae reiciendis suscipit, tempore totam ut voluptate! Ab, harum, neque?</span></p>

<img src="{% static '/images/schedule.jpg' %}" alt="">
</body>
</html>